#!/bin/sh

export TERMINAL="alacritty"
export BROWSER="chromium"
export FILEMANAGER="thunar"

export PATH="$PATH:$HOME/go/bin"

sxhkd &
clipmenud &
solaar --window=hide &
# ./.fehbg &
# picom &
# /usr/lib/mate-polkit/polkit-mate-authentication-agent-1 &
